<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>AV BOTz | {{file_name}}</title>
  <link rel="icon" href="https://cdn.jsdelivr.net/gh/Botsthe/DATABASE@main/image/logo.png" type="image/x-icon">
  <meta name="description" content="Stream high-quality videos and movies in 1080p. Experience seamless playback with multiple player options." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script>
        var userId = "{{user_id}}";
	var hasSpent30Seconds = false;
        var clickCounted = false;

        function setSpentTimeFlag() {
            hasSpent30Seconds = true;
        }

        setTimeout(setSpentTimeFlag, 30000); // 30000 milliseconds = 30 seconds

        document.addEventListener("click", function(event) {
            if (hasSpent30Seconds && !clickCounted) {
                clickCounted = true;
                fetch('/click-counter', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ user_id: userId })  // Send user_id in the request body
                })
                .then(response => response.json())
                .catch(error => console.error('Error:', error));
            }
        });
    </script>
  
  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.12/plyr.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://av-bo-tz.vercel.app/548/551/play.css" rel="stylesheet" />
</head>

<body class="bg-dark text-light">
  <div class="d-flex flex-column min-vh-100">
    <!-- Header -->
    <header> 
    <!-- Navbar -->
            <nav class="navbar bg-dark p-lg-4 p-2">
               <div class="d-flex ">
                <!-- web title -->
                <div class="container-fluid">
                    <a class="navbar-brand  text-light fw-bold " href="{{link}}">
                        <span class="bg-clip-text sm:text-[25px] text-[22px] text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
                            {{name}}
                          </span>
                    </a>
                  </div>
               </div>
            </nav>
            <!-- ./Navbar -->
    </header>
    
    <!-- Main content -->
    <main class="flex-grow-1 container py-3">
        <!-- file Name -> to be displayed here  -->
	<div class="justify-content-center align-items-center w-100 d-flex">
            <div id="file-name" class="tex-center text-lg max:w-74  p-2 flex-wrap text-center justify-center items-center">
                <p class="fw-bold"> 
                    <span id="myDiv" class="h6 flex-wrap text-center font-bold justify-center items-center card-title wow animate__animated animate__fadeInRight" >
                        {{name}}
                    </span>
                </p>
            </div>
	</div>
        <!-- Online Video Player -> to be displayed here  -->
        <div class="justify-content-center align-items-center w-100 d-flex  flex-wrap">
            <div class="lg:w-9/12 lg:px-12 lg:py-4 w-full  border border-danger wow animate__animated animate__fadeInLeft">
                <video id="player" class="player" playsinline controls>
                    {% if file_url %}
                    <source src="{{file_url}}" type="video/mp4" size="480">
                    {% endif %}
                    {% if file_url_two %}
                    <source src="{{file_url_two}}" type="video/mp4" size="720">
                    {% endif %}
                    {% if file_url_three %}
                    <source src="{{file_url_three}}" type="video/mp4" size="1080">
                    {% endif %}			
                </video>		    
            </div>
        </div>

      <div class="d-flex justify-content-between mb-2 flex-wrap gap-2">
        <a onclick="mx_player()" class="btn btn-primary flex-fill" style="border: none; background-color: {{ colours.mx_player.background }}; color: {{ colours.mx_player.color }};">
          <i class="fa fa-play"></i> <b>MX Player</b>
        </a>
        <a onclick="vlc_player()" class="btn btn-primary flex-fill" style="border: none; background-color: {{ colours.vlc_player.background }}; color: {{ colours.vlc_player.color }};">
          <i class="fa fa-play"></i> <b>VLC Player</b>
        </a>
        <a onclick="playit_player()" class="btn btn-primary flex-fill" style="border: none; background-color: {{ colours.playit_player.background }}; color: {{ colours.playit_player.color }};">
          <i class="fa fa-play"></i> <b>Play it</b>
        </a>
      </div>
      
      <div class="row g-3 mb-2">
        <div class="col-md-6">
          <a onclick="streamDownload()" class="btn btn-success w-100" style="border: none; background-color: {{ colours.download.background }}; color: {{ colours.download.color }};">
            <i class="fa-solid fa-download me-2"></i> Download
          </a>
        </div>
      </div>
      
      <a id="demo4" onclick="showLinkModal('{{tg_button}}')" class="btn btn-warning w-100 mb-2" style="border: none; background-color: {{ colours.create_link.background }}; color: {{ colours.create_link.color }};">
        <i class="fa-brands fa-telegram"></i> Create Like This Link
      </a>
      
      <a onclick="shareButton()" class="btn btn-danger w-100 mb-3" style="border: none; background-color: {{ colours.share.background }}; color: {{ colours.share.color }};">
        <i class="fa fa-share-alt"></i> Share Now
      </a>
      
      <div class="card bg-dark text-light border-secondary mb-4" style="background-color: {{ colours.file_information.background }}  !important; color: {{ colours.file_information.color }}  !important;">
        <div class="card-header border-secondary">
          <h5 class="mb-0"><i class="fa-solid fa-circle-info me-2"></i> File Information</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p><strong>Name: </strong>{{name}}</p>
              <p><strong>Size: </strong>{{size}}</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="justify-content-center align-items-center w-100 d-flex mb-3 mt-4">
                <div class="row d-flex w-100 justify-content-center align-items-center">
                    <div class="col-lg-8 col-10  py-2 text-center bg-danger rounded-4 text-sm font-bold wow animate__animated animate__FadeIn">
                            Video Not Playing ? Possibly Because Your Browser Doesn't Support Codec Please Open Link In Another Browser.
                    </div>
                </div>
            </div>

	    <div class="justify-content-center align-items-center w-100 d-flex mb-3">
                <div class="row d-flex w-100 justify-content-center align-items-center">
                    <div class="col-lg-8 col-10  py-2 text-center bg-danger rounded-4 text-sm font-bold wow animate__animated animate__FadeIn">
                            ⚠️ Disclaimer :- The content available on This Website is for informational and entertainment purposes only. We do not host any videos; all media is sourced from third-party platforms, and we are not responsible for their content or availability. By using our website, you acknowledge that you do so at your own risk, and we encourage you to verify the legality of any content in your jurisdiction.
                    </div>
                </div>
	    </div>
  </div>
  </main>
  <!-- Footer is now generated via JavaScript -->
  </div>
  
  <footer class="bg-dark justify-content-around align-items-center">
        <div class="text-center text-xs p-3 dark:text-light text-light gap-2" style="background-color: rgba(0, 0, 0, 0.2);">
            ©  <script type="text/JavaScript">
                var theDate=new Date() 
                    document.write(theDate.getFullYear()) 
            </script> Copyright :
                <a class="bg-clip-text text-[16px] text-transparent bg-gradient-to-r from-pink-500 to-violet-500 font-bold tracking-wide px-1" href="{{link}}">{{name}}</a>             
                All Right Reserved
            </div>   
        </footer>
  <!-- External JS -->
  <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script>
        var div = document.getElementById('myDiv');
        var text = div.textContent;

        if(text.length > 60){
            div.textContent = text.slice(0, 60);
        }

    </script> 
  <script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
    <script>
        const controls = [
            'play-large',
            'rewind',
            'play',
            'fast-forward',
            'progress',
            'current-time',
            'duration',
            'mute',
            'volume',
            'captions',
            'settings',
            'pip',
            'airplay',     
            'fullscreen'
        ];

        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', {
                controls
            });
        });
    </script>
  <!-- disabling right click -->
    <script>
        document.addEventListener("contextmenu", function (e) {
        e.preventDefault();
    });
    document.addEventListener('keydown', function (e) {
        if (
            e.key === 'F12' ||
            (e.ctrlKey && e.shiftKey && e.key === 'I') ||
            (e.ctrlKey && e.key === 'u') ||
            e.ctrlKey ||
            e.shiftKey ||
            e.altKey
        ) {
            e.preventDefault();
        }
    });
    </script>  
</body>

    </html>
